.Board {
    position: relative;
    margin: 0 auto;
    background-color: #000;
    background-image:
        linear-gradient(#333 1px, transparent 1px),
        linear-gradient(90deg, #333 1px, transparent 1px);
}

.Square {
    position: absolute;
}

.land {
    background: green;
}

.water {
    background: blue;
}

.end,
.start {
    background: green;
}

.controls {
    text-align: center;
}

.fas {
    font-size: 36px;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
}