body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.Board {
  position: relative;
  background-color: #000;
}

.Square {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
}

div.row {
  width: 400px;
  height: 50px;
}

.Square.black {
  background-color: gray;
}

.Square.white {
  background-color: white;
}

.Square.selected {
  background-color: orange;
}

div.Square {
  background-image: none;
}